<!DOCTYPE html>
<html>
  <head>
    <title>Luis Mercado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/assets/application.css">
    <script type="module" src="/assets/application.js" defer></script>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
